body {
	font-family: 'Montserrat', sans-serif;
	margin-top: -3px; /* Dirty hack: can't figure out why suddenly a gap of 3px appeared at the top of the viewport */
}


/* Navbar */
.top-bar {
	background: transparent;
	height: 3.5rem;
}

.title-area {
	background: transparent;
	height: 100%;
	padding: 7px 10px;
}

.top-bar .name h1 {
	text-align: center;
}

.top-bar .name h1 a {
	width: 100%;
}

.top-bar-section ul li {
    margin-right: 1.56em;
    background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background: transparent;
    line-height: 3.5rem;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: transparent;
	color: #d6d4d4;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	line-height: 3.5rem;
}

.top-bar-scrolled {
	background: #000;
}

.title-area-scrolled {
	background: #fb0000;
}

.page-name {
	font: bold 1.81em 'Montserrat', sans-serif !important;
    letter-spacing: -1px;
}


/* Hero */
main {
	height: 70vh;
	width: 100vw;
	background: url(../img_src/main-background.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

main:before {
	content: '';
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #000000, #2f2f2f);
    opacity: .7;
}

.welcome-text {
	position: relative;
    top: calc(50% - 24px);
    font-size: 1.25em;
    color: #fff;
    text-align: center;
    padding: 0 20vw;
}

@media only screen and (min-width: 40.0625em) {
   .welcome-text {
   		font-size: 2em;
   	}
}

.take-a-look {
	font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
}

@media only screen and (min-width: 40.0625em) {
   .take-a-look {
   		font-size: 3.3em;
   	}
}


/* Projects */
[class*="block-grid-"] {
	margin: 0;
}

#projects li {
	padding: 0;
	height: 150px;
	position: relative;
}

@media only screen and (min-width: 40.0625em) {
   #projects li {
   		height: 300px;
   	}
}

#projects img {
	min-height: 300px;
}

#projects a:before {
	content: '';
    height: 100%;
    width: 100%;
    position: absolute;
}

.mouseover:before {
	opacity: 0.9 !important;
}

#projects li:nth-child(1) {
	background-color: #14966c;
}

#projects li:nth-child(1) a:before {
	background-color: #14966c;
    opacity: 0.95;
}

#projects li:nth-child(2) {
	background-color: #6a5f9b;
}

#projects li:nth-child(2) a:before {
	background-color: #6a5f9b;
    opacity: 0.95;
}

#projects li:nth-child(3) {
	background-color: #e7654e;
}

#projects li:nth-child(4) {
	background-color: #6b80dd;
}

#projects li:nth-child(5) {
	background-color: #ac4057;
}

#projects li:nth-child(6) {
	background-color: #00a4b9;
}

.project-name {
	display: block;
    position: absolute;
    top: calc(50% - 20px);
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 1.25em;
}

@media screen and (min-width: 40.0625em) {
	.project-name {
		font-size: 1.56em;
	}
}


/* Skills */
#skills {
	margin: 0 auto;
	max-width: 62.5em;
	padding: 100px 0 50px;
}

#skills .columns {
	margin-bottom: 50px;
}

[class^="skill-"] [class^="flaticon-"] {
	position: absolute;
    left: 0;
    font-size: 4.37em;
    top: 26%;
    right: 0;
}

.flaticon-html5 {
	color: #e44d26;
}

.flaticon-css3 {
	color: #0171bb;
}

.flaticon-js {
	color: #e5a32b;
}

.flaticon-php {
	color: #6785b7;
}

.flaticon-git {
    color: #f34f29;
}

.skill-name {
	display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.62em;
    color: #a2a1a1;
}

#skills  div {
	text-align: center;
	min-height: 300px;
}


/* About */
#about {
	background: #eee;
	padding: 100px 0;
}

.who-is {
	max-width: 700px;
	padding: 0 50px;
	margin: 0 auto;
}

.who-is h1 {
	font-weight: bold;
    color: #444;
    margin: 0;
    font-size: 25px;
}

.who-is h2 {
	line-height: 1;
    color: #aaa;
    font-size: 1em;
    font-style: italic;
    margin: 0;
}

@media screen and (min-width: 40.0625em) {
	.who-is h1 {
		font-size: 2.37em;
	}
	.who-is h2 {
		font-size: 1.25em;
	}
}

.who-is h1,
.who-is h2 {
	text-align: center;
}

#about picture {
    text-align: center;
	margin: 76px 0;
	display: block;
}

#about picture img {
	border-radius: 50%;
	border: 15px solid #5dAfcA;
}

@media screen and (min-width: 40.0625em) {
	#about picture img {
		border: 23px solid #5dafca;
	}
}

.who-is p {
	font-family: 'Lato', sans-serif;
	color: #555;
}


/* Footer */
footer {
	background-color: #4c4b4b;
	padding: 40px 0;
}

.copyright {
	text-align: center;
	font: 0.93em 'Lato', sans-serif;
	color: #ddd;
}