body {
	font-family: 'Montserrat', sans-serif;
}

/* Navbar */

.top-bar {
	background: transparent;
	height: 3.5rem;
}

.title-area {
	background: transparent;
	height: 100%;
	padding: 4px 10px;
}

.top-bar .name h1 {
	text-align: center;
}

.top-bar .name h1 a {
	width: 100%;
}

.top-bar-section ul li {
    margin-right: 25px;
    background: transparent;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background: transparent;
    line-height: 3.5rem;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: transparent;
	color: #D6D4D4;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	line-height: 3.5rem;
}

.top-bar-scrolled {
	background: #000;
}

.title-area-scrolled {
	background: #fb0000;
}

.page-name {
	font-family: 'Montserrat';
    letter-spacing: -1;
    font-weight: bold !important;
    font-size: 29px;
}

/* Hero */

main {
	height: 70vh;
	width: 100vw;
	background: url(../img_src/main-background.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

main:before {
	content: '';
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
    opacity: .4;
}

.welcome-text {
	position: relative;
    top: calc(50% - 24px);
    font-size: 1.25em;
    color: #fff;
    text-align: center;
    padding: 0 20vw;
}

@media only screen and (min-width: 40.0625em) {
   .welcome-text {
   		font-size: 2em;
   	}
}

/* Projects */

[class*="block-grid-"] {
	margin: 0;
}

#projects li {
	padding: 0;
	height: 150px;
	position: relative;
}

@media only screen and (min-width: 40.0625em) {
   #projects li {
   		height: 300px;
   	}
}

#projects img {
	min-height: 300px;
}

#projects a:before {
	content: '';
    height: 100%;
    width: 100%;
    position: absolute;
}

.mouseover:before {
	opacity: 0.9 !important;
}

#projects li:nth-child(1) {
	background-color: #14966C;
}

#projects li:nth-child(1) a:before {
	background-color: #14966C;
    opacity: 0.95;
}

#projects li:nth-child(2) {
	background-color: #6A5F9B;
}

#projects li:nth-child(2) a:before {
	background-color: #6A5F9B;
    opacity: 0.95;
}

#projects li:nth-child(3) {
	background-color: #E7654E;
}

#projects li:nth-child(3) a:before {
	background-color: #6A5F9B;
    opacity: 0.95;
}

#projects li:nth-child(4) {
	background-color: #6B80DD;
}

#projects li:nth-child(4) a:before {
	background-color: #6A5F9B;
    opacity: 0.95;
}

#projects li:nth-child(5) {
	background-color: #AC4057;
}

#projects li:nth-child(5) a:before {
	background-color: #6A5F9B;
    opacity: 0.95;
}

#projects li:nth-child(6) {
	background-color: #00A4B9;
}

#projects li:nth-child(6) a:before {
	background-color: #6A5F9B;
    opacity: 0.95;
}

.project-name {
	display: block;
    position: absolute;
    top: calc(50% - 20px);
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: white;
    font-size: 1.25em;
}

@media screen and (min-width: 40.0625em) {
	.project-name {
		font-size: 1.56em;
	}
}

/* Skills */

#skills {
	margin: 0 auto;
	max-width: 1000px;
	padding: 170px 0 140px;
}

#skills .columns {
	margin-bottom: 50px;
}

[class^="skill-"] [class^="flaticon-"] {
	position: absolute;
    left: 0;
    font-size: 70px;
    top: 26%;
    right: 0;
}

.flaticon-html5 {
	color: #E44D26;
}

.flaticon-css3 {
	color: #0171BB;
}

.flaticon-js {
	color: #E5A32B;
}

.flaticon-php {
	color: #6785B7;
}
.flaticon-git {
    color: #F34F29;
}


.skill-name {
	display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 26px;
    color: #A2A1A1;
}

#skills  div {
	text-align: center;
	min-height: 300px;
}

footer {
	height: 20vh;
	background-color: #888;
}